In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
from plotly.subplots import make_subplots
import pandapower as pp

# Import data from pickle

In [2]:
# import pickle file
net_Trey_pickle = pp.from_pickle("trey_net_student.p")

In [67]:
# print buses
net_Trey_pickle.bus

            name   type   zone  in_service  geo
0     STMT003438     PQ  Trafo        True  NaN
1     CDBT004764     PQ  North        True  NaN
2     CDBT003746     PQ  North        True  NaN
3     CDBT004760     PQ  North        True  NaN
4     CDBT012139     PQ  North        True  NaN
5     CDBT900784     PQ  North        True  NaN
6     CDBT901452     PQ  South        True  NaN
7     CDBT004774     PQ  South        True  NaN
8     CDBT901604     PQ  South        True  NaN
9     CDBT016055     PQ  South        True  NaN
10            N1     PQ  South        True  NaN
11         60437     PQ  South        True  NaN
12  STMT003438HV  Slack  Trafo        True  NaN

In [ ]:
# print load
net_Trey_pickle.load

This pandapower network includes the following parameter tables:
   - bus (13 elements)
   - load (12 elements)
   - ext_grid (1 element)
   - line (11 elements)
   - trafo (1 element)

In [ ]:
net_Trey_pickle.ext_grid

In [3]:
net_Trey_pickle.line

,name,from_bus,to_bus,g_us_per_km,df,std_type,in_service,geo
0,GKN3x150_150,0,1,0.0,1.0,None,True,NaN
1,GKN3x150_150_2,1,2,0.0,1.0,None,True,NaN
2,GKN3X95_95,1,3,0.0,1.0,None,True,NaN
3,GKT3X50_50,3,4,0.0,1.0,None,True,NaN
4,GKT3X50_50_2,4,5,0.0,1.0,None,True,NaN
5,GKN3x150_150_3,0,6,0.0,1.0,None,True,NaN
6,GKN3X95_95_2,6,7,0.0,1.0,None,True,NaN
7,GKN3x150_150_4,7,8,0.0,1.0,None,True,NaN
8,GKN3X50_50,7,9,0.0,1.0,None,True,NaN
9,GKN3X50_50_2,6,10,0.0,1.0,None,True,NaN
10,GKN3X240_240,0,11,0.0,1.0,None,True,NaN

In [ ]:
net_Trey_pickle.trafo

# Adding missing elements

In [4]:
# Distance of lines addition
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'] == 'GKN3x150_150', 'length_km'] = 0.18
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'] == 'GKN3x150_150_2', 'length_km'] = 0.1
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'] == 'GKN3X95_95', 'length_km'] = 0.115
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'] == 'GKT3X50_50', 'length_km'] = 0.08
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'] == 'GKT3X50_50_2', 'length_km'] = 0.09
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'] == 'GKN3x150_150_3', 'length_km'] = 0.135
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'] == 'GKN3X95_95_2', 'length_km'] = 0.1
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'] == 'GKN3x150_150_4', 'length_km'] = 0.205
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'] == 'GKN3X50_50', 'length_km'] = 0.085
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'] == 'GKN3X50_50_2', 'length_km'] = 0.255
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'] == 'GKN3X240_240', 'length_km'] = 0.34

# Current capacity of lines addition
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains('GKN3x150_150', na=False), 'max_i_ka'] = 0.4
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains('GKN3X95_95', na=False), 'max_i_ka'] = 0.252
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains(r'GKN3X50_50|GKT3X50_50', na=False), 'max_i_ka'] = 0.17
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains('GKN3X240_240', na=False), 'max_i_ka'] = 0.512


# Capacity of lines update
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains('GKN3x150_150', na=False), 'c_nf_per_km'] = 0.349e3
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains('GKN3X95_95', na=False), 'c_nf_per_km'] = 0.338e3
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains(r'GKN3X50_50|GKT3X50_50', na=False), 'c_nf_per_km'] = 0.298e3
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains('GKN3X240_240', na=False), 'c_nf_per_km']  = 0.346e3

# Resistance of lines addition
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains('GKN3x150_150', na=False), 'r_ohm_per_km'] = 0.124
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains('GKN3X95_95', na=False), 'r_ohm_per_km'] = 0.193
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains(r'GKN3X50_50|GKT3X50_50', na=False), 'r_ohm_per_km'] = 0.387
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains('GKN3X240_240', na=False), 'r_ohm_per_km'] = 0.0754

# Reactance of lines addition
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains('GKN3x150_150', na=False), 'x_ohm_per_km'] = 0.07
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains('GKN3X95_95', na=False), 'x_ohm_per_km'] = 0.07
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains(r'GKN3X50_50|GKT3X50_50', na=False), 'x_ohm_per_km'] = 0.07
net_Trey_pickle.line.loc[net_Trey_pickle.line['name'].str.contains('GKN3X240_240', na=False), 'x_ohm_per_km'] = 0.07


net_Trey_pickle.line

,name,from_bus,to_bus,g_us_per_km,df,std_type,in_service,geo,length_km,max_i_ka,c_nf_per_km,r_ohm_per_km,x_ohm_per_km
0,GKN3x150_150,0,1,0.0,1.0,None,True,NaN,0.180,0.400,349.0,0.1240,0.07
1,GKN3x150_150_2,1,2,0.0,1.0,None,True,NaN,0.100,0.400,349.0,0.1240,0.07
2,GKN3X95_95,1,3,0.0,1.0,None,True,NaN,0.115,0.252,338.0,0.1930,0.07
3,GKT3X50_50,3,4,0.0,1.0,None,True,NaN,0.080,0.170,298.0,0.3870,0.07
4,GKT3X50_50_2,4,5,0.0,1.0,None,True,NaN,0.090,0.170,298.0,0.3870,0.07
5,GKN3x150_150_3,0,6,0.0,1.0,None,True,NaN,0.135,0.400,349.0,0.1240,0.07
6,GKN3X95_95_2,6,7,0.0,1.0,None,True,NaN,0.100,0.252,338.0,0.1930,0.07
7,GKN3x150_150_4,7,8,0.0,1.0,None,True,NaN,0.205,0.400,349.0,0.1240,0.07
8,GKN3X50_50,7,9,0.0,1.0,None,True,NaN,0.085,0.170,298.0,0.3870,0.07
9,GKN3X50_50_2,6,10,0.0,1.0,None,True,NaN,0.255,0.170,298.0,0.3870,0.07
10,GKN3X240_240,0,11,0.0,1.0,None,True,NaN,0.340,0.512,346.0,0.0754,0.07

In [ ]:
import pp_heig_plot as pp_plot
import pandapower.plotting as pplot

AttributeError: 'DataFrame' object has no attribute 'bus'